
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70em
}
img {
    width: 100%;
  
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}



.container {
    width: 75%;
    background-color: white; 
    display: flex;
    flex-direction: column;
    
}

.left {
    display: flex;
}

.fa-html5 {
    font-size: 3vw;
    margin: 1rem;
}

.fa-ellipsis-vertical {
    font-size: larger;
    margin: 1rem;

}

.head {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1vw;;
    padding: 1vw;
}

.texto {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
}

.logos {
    font-size: 3vw; 
    margin: 1vw;
    display: flex;
    justify-content: space-between;
}